@import url('https://fonts.cdnfonts.com/css/cocon');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --font1: sans-serif;
    --font2: 'Cocon';
}
body {
    background: #e2e5e9;
    font-family: var(--font1, var(--font2));
    font-size: 1em; /* Base font size */
}
.container {
    width: 100vw;
    overflow-x: hidden;
}
/* navigation start */
.navigation-container {
    width: 100%;
    height: 5em;
    background-image: linear-gradient(to left, #e4d6aa 0%, #cee7a5 100%);
    /* background-image: linear-gradient(120deg, #caec9e 0%, #cef896 100%); */
    filter: blur(0.02em);
    box-shadow: 0 1em 1em rgb(158, 200, 207);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
.navigation-list {
    list-style: none;
    font-family: var(--font1);
    font-weight: 200;
    font-style: normal;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-shadow: 0.3em 0 0.2em rgb(70, 68, 66), -0.3em -0.3em 0.2em rgb(46, 45, 44); */
}
.navigation-list li div a {
    text-decoration: none;
    color: #36174b;
    padding-right: 3em;
}
.nav-list-left {
    font-family: var(--font2, var(--font1));
    font-size: 1.6em;
    font-weight: 700;
    color: #251e24;
    margin: 0.5em 0 0 1em;
}
.nav-list-right {
    margin: 1.2em 1.2em 0 0;
}
/* navigation bar end */

/* main content start  */
.content-box {
    width: 70%;
    margin: auto;
    border: 0.1em solid rgb(218, 224, 215);
    box-shadow: 2em 0 2em #515053, -2em 0 2em #38363b;
}
.item {
    width: 100%;
    height: 600px;
    margin-top: 0.5em;
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    display: flex;
    justify-content: space-around;
    border-bottom: 0.1em solid rgb(58, 53, 53);
    box-shadow: 0 0.9em 1em rgb(99, 96, 96);
    border-radius: 0.5em;
}
.left-item {
    margin: 2em;
    height: 85%;
    width: 60%;
    font-size: 1em;
}
.right-item {
    margin: 2em;
    height: 85%;
    width: 40%;
    overflow: hidden;
    border: 0.1em solid rgb(95, 91, 91);
    border-radius: 1.5em;
}
.right-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-item h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight: 700;
  margin:0.5em 1.5em 1.5em 1.5em;
  border: 1px solid rgb(54, 54, 59);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px 0 15px 0;
  text-align: center;
}

.item-ingredients h3,
.item-recipe h3{
  font-size: 25px;
  font-weight: 500;
  margin:10px 0px 10px 20px;
  /* margin-bottom:10px; */

}
.item-ingredients ul,
.item-recipe ul {
  padding-left:50px;
  font-size: 18px;
  font-weight: 300;
  /* list-style: none; */
  margin-bottom: 3px;
}
/* main content end  */

/* footer start  */
.footer-container {
    padding: 0.5em;
    /* background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%); */
    background-image: linear-gradient(to left, #e4d6aa 0%, #cee7a5 100%);

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    border-radius: 1.5em 0 1.5em 0;
    box-shadow: 0 0.5em 0.5em rgb(235, 235, 213);
}
.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    padding-top: 0.5em;
}
.contact-item li {
    list-style: none;
}
.contact-item a img {
    width: 1.5em;
    height: 1.5em;
}
.company-copyright {
    font-size: 0.9em;
}
/* footer end */

